<p id="notice"><%= notice %></p>

<h1>Listing Amigos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amigos.each do |amigo| %>
      <tr>
        <td><%= amigo.nome %></td>
        <td><%= amigo.email %></td>
        <td><%= link_to 'Show', amigo %></td>
        <td><%= link_to 'Edit', edit_amigo_path(amigo) %></td>
        <td><%= link_to 'Destroy', amigo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amigo', new_amigo_path %>
