<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @amigo.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @amigo.email %>
</p>

<%= link_to 'Edit', edit_amigo_path(@amigo) %> |
<%= link_to 'Back', amigos_path %>
